*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

main{
    width: 90%;
    margin: 0 auto;
}

h1{
    margin: 10px 0;
    text-align: center;
}

h2{
    margin:15px 0 0 0;
}

input{
    border:1px solid #9e9e9e;
    line-height: 24px;
    padding: 2px;
    margin-top:5px;
}